body {
    font-family: Arial, sans-serif;
    background: #f0f8ff;
    color: #333;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background: #0fa0e9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #7f0a6c;
    
}

#location-input {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: #7f0a6c;
    color: #f4f1f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #00cc5f;
}

#weather-info {
    margin-top: 20px;
}

#city-name {
    font-size: 1.5em;
}

#temp {
    font-size: 1.2em;
}

#condition {
    font-size: 1em;
    color: #666;
}
